/* Default styles for content-box */
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text content */
}

.textadventurePicture img {
    max-width: 100%;
    border: 5px double #00C800;
}

/* Media query for screens 800px and higher */
@media (min-width: 800px) {
    .content-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Align items to the top of the container */
        text-align: left; /* Align text content to the left */
    }

    .textadventurePicture {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the picture vertically */
        margin-right: 20px; /* Adjust the margin as needed */
    }



    .text-content {
        flex: 1;
        align-self: flex-start; /* Align the text to the top of the container */
    }
}
