/* Standard-Margin und -Padding zurücksetzen */
/* Box-Sizing auf Border-Box stellen; Schrift vereinheitlichen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
}


/* Grundregeln setzen (body) */

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #000, #333, #000, #333, #000);
    color: #00C800;
    font-family: monospace;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, figure, figcaption {
    margin: 1ch;
}

ul, ol, dl {
    margin-left: 7ch;
}

figcaption {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        animation: link-blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &::before {
        content: "↳";
    }
}

h1, h2, h3, h4, h5, h6  {
    font-size: inherit;
    text-transform: uppercase;
    color: lime;
}

h1 {
    &::before { content: "=== " }
    &::after  {  content: " ==="
    }
}

h2 {
    &::before { content: "--- " }
    &::after {  content: " ---" }
}

h3 {
    &::before { content: "== " }
    &::after { content: " =="  }
}

h4 { &::before { content: "-- " }
    &::after {   content: " --" }
}

h5 {
    &::before { content: "= " }
    &::after {  content: " =" }
}

h6 {
    &::before { content: "- " }
    &::after {  content: " -" }
}

em {
    color: orange;
}

strong {
    color: yellow;
}

em strong, strong em {
    color: red;
}

mark {
    background-color: #00C800;
    color: black;
}

ul li::marker{
    content: "- ";
}


/* Regeln für den Kopfteil (header) */

header {
    flex-basis: 100%;
    position: sticky;
    top: 0;
    background-image: linear-gradient(#000, #444, #000);
    font-size: 1.7rem;
}

.navigation {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    flex-grow: 1;
    text-align: center;
    padding: 1px 7px;
    &::marker {
        content: none;
    }
}

.link-navigation {
    text-shadow: 5px 5px 5px black;
}

.link-navigation:hover {
    color: white;
    transition: color 0.3s;
    animation: none;
}

.link-navigation::before {
    content: none;
}


/* Regeln für den Hauptteil (main) */

/*display flex fehlt noch*/
main {
    font-size: 1.3rem;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* Allgemeine Animationen*/

@keyframes link-blink {
    50% {
        color: white;
    }
}


/* Allgemeine Breakpoints */

/* Navigationsleiste vergrößern */

/* Zweizeilig */


@media (min-width: 444px) and (max-width: 596px) {
    header {
        font-size: 1.4rem;
    }
}

/*@media (min-width: 600px) {*/
/*    header {*/
/*        font-size: 2rem;*/
/*    }*/
/*}*/

/*@media (min-width: 700px) {*/
/*    header {*/
/*        font-size: 2rem;*/
/*    }*/
/*}*/

/* Ab hier: Warten, bis einzeilige Darstellung möglich */
/* Erst dann weiter vergrößern */

@media (min-width: 1025px) {
    header {
        font-size: 2.5rem;
    }
}

/*@media (min-width: 1200px) {*/
/*    header {*/
/*        font-size: 2.5rem;*/
/*    }*/
/*}*/

/*@media (min-width: 1400px) {*/
/*    header {*/
/*        font-size: 3.4rem;*/
/*    }*/
/*}*/

/*@media (min-width: 1600px) {*/
/*    header {*/
/*        font-size: 3.6rem;*/
/*    }*/
/*}*/

/* Weitere Idee: Ab sehr(!) großen Bildschirmen die */
/* Lesefläche möglichst gleichbleibend halten */

/*@media (min-width: 1800px) {*/
/*    body {*/
/*        margin-left: 5%;*/
/*        margin-right: 5%;*/
/*    }*/
/*}*/

