/*CSS-Zurücksetzung*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*min-height: 100vh;*/
    background-color: black;
    color: #00C800;
    font-family: monospace;
    /*  Schriftgröße  */
}

header, main {
    flex-basis: 100%;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 3px dashed #00C800;
    border-top: 3px dashed #00C800;
    background-image: linear-gradient(#000, #444, #000);
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    flex-grow: 1;
    text-align: center;
    padding: 1px 7px;
}

.link-navigation,
.link-navigation:visited {
    font-size: 1.7rem;
    /*font-weight: bold;*/
    color: #00C800;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
}

.link-navigation:hover {
    color: slategrey;
    transition: color 0.5s;
}

main {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 1.7rem;
    border-bottom: 4px dashed white;
    border-top: 4px dashed white;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}

em {
    color: yellow;
    font-style: normal;
}

strong {
    color: red;
    font-weight: normal;
}

em strong, strong em {
    color: orange;
}

mark {
    background-color: #00C800;
    color: black;

}
