.seitenbeschreibung, .beispielscreenshot, .sektionsbeschreibungen {
    flex-basis: 100%;
    /*outline: 3px solid yellow;*/
}

.seitenbeschreibung {
    margin-top: 2ch;
    order: 1;
}

.beispielscreenshot {
    flex-basis: 100%;
    order: 2;
}

.beispielscreenshot > img {
    width: 100%;
    height: auto;
    border: 5px double #00C800;
}

.sektionsbeschreibungen {
    order: 3;
}

@media (min-width: 800px) {

    .seitenbeschreibung, .sektionsbeschreibungen {
        flex-basis: 0;
        flex-grow: 1;
    }

    .beispielscreenshot {
        order: 3;
    }

    .sektionsbeschreibungen {
        order: 2;
        margin: 2ch;
    }

}

@media (min-width: 1400px) {

    .beispielscreenshot {
        flex-basis: 0;
        flex-grow: 2;
        order: 2;
        margin: 2ch;
    }

}
